---
- name: installing docker
  hosts: all
  become: yes

  tasks:
    - name: Ensure docker is present
      apt:
        name: docker.io
        state: present
      become: yes

- name: Building an image and artifact, pushing to repository
  hosts: builder
  become: yes

  tasks:

    - name: Cloning Dockerfile to builder
      git:
        repo: http://193.122.59.82:3000/petrovvitalik/Ansible-1.git
        dest: /root/builder/

    - name: Copying id_rsa to building directory (unsafe mode)
      copy:
        src: /root/.ssh/id_rsa
        dest: /root/builder/
        remote_src: yes

    - name: Build image
      docker_image:
        path: /root/
        name: Dcockerfile-maven-unsafe

- name: Running tomcat
  hosts: web
  become: yes

  tasks:
    - name: Build image
      docker_image:
        path: http://193.122.59.82:3000/petrovvitalik/Ansible-1/raw/master/Dockerfile-Tomcat
        name: Dcockerfile-maven-unsafe
        buildargs:
          listen_port: 8080