---
- name: installing docker
  hosts: all
  become: yes

  tasks:
    - name: Ensure docker is present
      apt:
        name: "{{ item }}"
        state: present
      become: yes
      with_items:
        - docker.io
        - python-pip

- name: Building an image and artifact, pushing to repository
  hosts: builder
  become: yes

  tasks:

    - name: Cloning Dockerfile to builder
      git:
        repo: http://193.122.59.82:3000/petrovvitalik/Ansible-1.git
        dest: /root/builder/
        force: yes

    - name: Copying id_rsa to building directory (unsafe mode)
      copy:
        src: /root/.ssh/id_rsa
        dest: /root/builder/
        remote_src: yes

    - name: renaming builder Dockerfile
      command: mv /root/builder/Dcockerfile-maven-unsafe /root/builder/Dockerfile

    - name: Build maven image
      docker_image:
        path: /root/builder/
        name: maven-unsafe

- name: Running tomcat
  hosts: web
  become: yes

  tasks:
    - name: Cloning Dockerfile to web
      git:
        repo: http://193.122.59.82:3000/petrovvitalik/Ansible-1.git
        dest: /root/web/
        force: yes

    - name: renaming web Dockerfile
      command: mv /root/web/Dockerfile-Tomcat /root/web/Dockerfile


    - name: Build web image
      docker_image:
        path: /root/web/
        name: webapp-tomcat
        buildargs:
          listen_port: 8080

    - name: Launch web app
      docker_container:
        name: webapp-tomcat
        image: webapp-tomcat
        state: present
        ports:
          - "8080:8080"